[submodule "QNICE"]
	path = M2M/QNICE
	url = https://github.com/sy2002/QNICE-FPGA
[submodule "CORE/MiSTer-devel/Arcade-BankPanic_MiSTer"]
	path = CORE/MiSTer-devel/Arcade-BankPanic_MiSTer
	url = https://github.com/MiSTer-devel/Arcade-BankPanic_MiSTer
